@import '/design-tokens/core/scss/theming/component';

/** 
 * 1) Fieldset used for tags
 */
.cre8-c-tag-list {
  border: none;
  padding: 0;
  margin: 0;
  gap: var(--cre8-spacing-16);
}

.cre8-c-tag-list__legend {
  margin-bottom: var(--cre8-spacing-16);
}

/**
 * Slotted tag items
 */
::slotted(cre8-tag) {
  margin-bottom: var(--cre8-spacing-16);
  margin-right: var(--cre8-spacing-8);
}

.cre8-c-tag-list__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
