@import 'design-tokens/core/scss/theming/component';
/*------------------------------------*\
 #TAB-PANEL
\*------------------------------------*/

/** 
 * Tab panel host
 */
:host {
  display: contents;
}

/** 
 * Tab panel
 */
.cre8-c-tab-panel {
  visibility: hidden;
  display: none;

  /**
   * Tab panel focus visible state
   */
  &:focus-visible {
    @include focus;
  }
}

/** 
 * Tab panel active
 */
.cre8-c-tab-panel.cre8-is-active {
  visibility: visible;
  display: block;
}
