node_modules/*
**/node_modules/*

docs/*
**/docs/*


docs-src/*
**/docs-src/*

storybook-static/*
**/storybook-static/*

dist/*
**/dist/*

**/*.stories.ts
**/*.stories.tsx

reports/*
**/reports/*

report/*
**/report/*

coverage/*
**/coverage/*
