```css
:root {
    --color-transparent: rgba(0, 0, 0, 0);
    --color-black: #000000;
    --color-gray-100: #F3F3F3;
    --color-gray-200: #E8E8E8;
    --color-gray-300: #AFAFAF;
    --color-gray-400: #A6A6A6;
    --color-gray-500: #5E5E5E;
    --color-gray-600: #727272;
    --color-gray-700: #4B4B4B;
    --color-gray-800: #333333;
    --color-white: #FFFFFF;
    --color-primary: #1a73e8;
    --color-primary-light: #4285f4;
    --color-shadow: rgba(0, 0, 0, 0.5);

    --background-white: #ffffff;
    --background-gray-light: #F3F3F3;
    --background-gray-dark: #E2E2E2;
    --background-linear-gradient: linear-gradient(135deg, #E8E8E8, #F3F3F3);
    
    --font-size-xxs: 11px;
    --font-size-xs: 12px;
    --font-size-sm: 14px;
    --font-size-md: 16px;
    --font-size-lg: 18px;
    --font-size-xl: 20px;
    --font-size-2xl: 24px;
    --font-size-3xl: 28px;
    --font-size-4xl: 32px;
    --font-size-5xl: 36px;

    --line-height-xs: 16px;
    --line-height-sm: 20px;
    --line-height-md: 24px;
    --line-height-lg: 32px;
    --line-height-xl: 36px;
    --line-height-2xl: 40px;
    --line-height-3xl: 44px;
    --line-height-4xl: 112px;

    --spacing-0: 0;
    --spacing-xs: 6px;
    --spacing-sm: 10px;
    --spacing-md: 14px;
    --spacing-lg: 16px;
    --spacing-xl: 20px;
    --spacing-2xl: 24px;
    --spacing-3xl: 40px;
    --spacing-4xl: 48px;
    --spacing-5xl: 64px;
    --spacing-6xl: 96px;
    --spacing-negative: -1px;
    
    --border-radius-sm: 3px;
    --border-radius-md: 4px;
    --border-radius-lg: 6px;
    --border-radius-xl: 8px;
    --border-radius-2xl: 10px;
    --border-radius-3xl: 20px;

    --shadow-default: 0 4px 16px hsla(0, 0%, 0%, 0.16);
}
```