:root {
  --cre8-color-bg-brand: #007bff;
  --cre8-color-content-brand: #007bff;
  --cre8-color-button-primary-bg: #007bff;
  --cre8-color-border-brand: #007bff;
  --cre8-color-bg-default: #ffffff;
  --cre8-color-content-default: #000000;
}
