@import '/design-tokens/core/scss/theming/component';

// #GLOBAL NAV

/**
 * Inverted Global nav
 */
.cre8-c-global-nav--inverted {
  --cre8-global-nav-link-color: var(--cre8-color-content-knockout);
}

/**
 * Global nav list
 * 1) Stack on small screens within the toggleable menu but place side by side on large screens
 */
.cre8-c-global-nav__list {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  overflow: auto;
}
