/**
 * pbm: all tokens
 */

:root {
  --cre8-font-families-rubik: "Rubik", sans-serif;
  --cre8-color-content-default: #515761;
  --cre8-color-content-subtle: #747981;
  --cre8-color-content-disabled: #979aa0;
  --cre8-color-content-link-disabled: #979aa0;
  --cre8-color-content-inverse-link-disabled: #edeeef;
  --cre8-color-content-knockout: #ffffff;
  --cre8-color-content-brand-knockout: #addbf0;
  --cre8-color-content-brand: #005e9c;
  --cre8-color-content-brand-strong: #14568d;
  --cre8-color-content-success: #256700;
  --cre8-color-content-success-icon: #3c8700;
  --cre8-color-content-error: #e4292f;
  --cre8-color-content-error-icon: #e4292f;
  --cre8-color-content-warning-icon: #fdb81e;
  --cre8-color-content-info-icon: #073b64;
  --cre8-color-content-attention-icon: #982393;
  --cre8-color-content-link: #14568d;
  --cre8-color-content-inverse-link: #ffffff;
  --cre8-color-content-link-hover: #073b64;
  --cre8-color-content-inverse-link-hover: #addbf0;
  --cre8-color-content-link-focus: #ffffff;
  --cre8-color-content-inverse-link-focus: #000000;
  --cre8-color-content-link-visited: #073b64;
  --cre8-color-content-inverse-link-visited: #d0dde8;
  --cre8-color-content-link-active: #073b64;
  --cre8-color-content-inverse-link-active: #addbf0;
  --cre8-color-button-primary-danger-bg: #979aa0;
  --cre8-color-button-primary-danger-inverse-bg: #ffffff;
  --cre8-color-button-primary-danger-bg-hover: #1f232a;
  --cre8-color-button-primary-danger-inverse-bg-hover: #eff8fc;
  --cre8-color-button-primary-danger-bg-active: #1f232a;
  --cre8-color-button-primary-danger-inverse-bg-active: #def1f9;
  --cre8-color-button-primary-danger-bg-disabled: #dcdddf;
  --cre8-color-button-primary-danger-inverse-bg-disabled: #979aa0;
  --cre8-color-button-primary-danger-content: #ffffff;
  --cre8-color-button-primary-danger-inverse-content: #000000;
  --cre8-color-button-primary-danger-content-hover: #ffffff;
  --cre8-color-button-primary-danger-inverse-content-hover: #000000;
  --cre8-color-button-primary-danger-content-active: #ffffff;
  --cre8-color-button-primary-danger-inverse-content-active: #000000;
  --cre8-color-button-primary-danger-content-disabled: #ffffff;
  --cre8-color-button-primary-danger-inverse-content-disabled: #000000;
  --cre8-color-button-primary-danger-border: #2f343d;
  --cre8-color-button-primary-danger-inverse-border: #ffffff;
  --cre8-color-button-primary-danger-border-hover: #1f232a;
  --cre8-color-button-primary-danger-inverse-border-hover: #eff8fc;
  --cre8-color-button-primary-danger-border-active: #1f232a;
  --cre8-color-button-primary-danger-inverse-border-active: #edeeef;
  --cre8-color-button-primary-danger-border-disabled: #979aa0;
  --cre8-color-button-primary-danger-inverse-border-disabled: #979aa0;
  --cre8-color-button-primary-danger-outline: #000000;
  --cre8-color-button-primary-danger-inverse-outline: #ffffff;
  --cre8-color-button-primary-bg: #14568d;
  --cre8-color-button-primary-inverse-bg: #ffffff;
  --cre8-color-button-primary-bg-hover: #073b64;
  --cre8-color-button-primary-inverse-bg-hover: #eff8fc;
  --cre8-color-button-primary-bg-active: #073b64;
  --cre8-color-button-primary-inverse-bg-active: #def1f9;
  --cre8-color-button-primary-bg-disabled: #dcdddf;
  --cre8-color-button-primary-inverse-bg-disabled: #edeeef;
  --cre8-color-button-primary-border: #14568d;
  --cre8-color-button-primary-inverse-border: #ffffff;
  --cre8-color-button-primary-border-hover: #073b64;
  --cre8-color-button-primary-inverse-border-hover: #eff8fc;
  --cre8-color-button-primary-border-active: #073b64;
  --cre8-color-button-primary-inverse-border-active: #def1f9;
  --cre8-color-button-primary-border-disabled: #dcdddf;
  --cre8-color-button-primary-inverse-border-disabled: #edeeef;
  --cre8-color-button-primary-content: #ffffff;
  --cre8-color-button-primary-inverse-content: #073b64;
  --cre8-color-button-primary-content-hover: #ffffff;
  --cre8-color-button-primary-inverse-content-hover: #073b64;
  --cre8-color-button-primary-content-active: #ffffff;
  --cre8-color-button-primary-inverse-content-active: #073b64;
  --cre8-color-button-primary-content-disabled: #979aa0;
  --cre8-color-button-primary-inverse-content-disabled: #979aa0;
  --cre8-color-button-primary-outline: #073b64;
  --cre8-color-button-primary-inverse-outline: #eff8fc;
  --cre8-color-button-secondary-neutral-bg: rgba(0, 0, 0, 0.0);
  --cre8-color-button-secondary-neutral-inverse-bg: rgba(0, 0, 0, 0.0);
  --cre8-color-button-secondary-neutral-content: #1f232a;
  --cre8-color-button-secondary-neutral-inverse-content: #ffffff;
  --cre8-color-button-secondary-neutral-border: #1f232a;
  --cre8-color-button-secondary-neutral-inverse-border: #ffffff;
  --cre8-color-button-secondary-neutral-bg-hover: rgba(0, 0, 0, 0.08);
  --cre8-color-button-secondary-neutral-inverse-bg-hover: rgba(0, 0, 0, 0.25);
  --cre8-color-button-secondary-neutral-content-hover: #1f232a;
  --cre8-color-button-secondary-neutral-inverse-content-hover: #ffffff;
  --cre8-color-button-secondary-neutral-border-hover: #1f232a;
  --cre8-color-button-secondary-neutral-inverse-border-hover: #ffffff;
  --cre8-color-button-secondary-neutral-border-active: #1f232a;
  --cre8-color-button-secondary-neutral-inverse-border-active: #ffffff;
  --cre8-color-button-secondary-neutral-bg-active: rgba(0, 0, 0, 0.25);
  --cre8-color-button-secondary-neutral-inverse-bg-active: #979aa0;
  --cre8-color-button-secondary-neutral-content-active: #1f232a;
  --cre8-color-button-secondary-neutral-inverse-content-active: #ffffff;
  --cre8-color-button-secondary-neutral-bg-disabled: #f8f8f9;
  --cre8-color-button-secondary-neutral-inverse-bg-disabled: #b9bcc0;
  --cre8-color-button-secondary-neutral-border-disabled: #f8f8f9;
  --cre8-color-button-secondary-neutral-inverse-border-disabled: #b9bcc0;
  --cre8-color-button-secondary-neutral-content-disabled: #979aa0;
  --cre8-color-button-secondary-neutral-inverse-content-disabled: #515761;
  --cre8-color-button-secondary-neutral-outline: #1f232a;
  --cre8-color-button-secondary-neutral-inverse-outline: #ffffff;
  --cre8-color-button-secondary-danger-bg: rgba(0, 0, 0, 0.0);
  --cre8-color-button-secondary-danger-inverse-bg: rgba(0, 0, 0, 0.0);
  --cre8-color-button-secondary-danger-bg-hover: #2f343d;
  --cre8-color-button-secondary-danger-inverse-bg-hover: #f8f8f9;
  --cre8-color-button-secondary-danger-bg-active: #1f232a;
  --cre8-color-button-secondary-danger-inverse-bg-active: #edeeef;
  --cre8-color-button-secondary-danger-bg-disabled: #b9bcc0;
  --cre8-color-button-secondary-danger-inverse-bg-disabled: #b9bcc0;
  --cre8-color-button-secondary-danger-content: #ffffff;
  --cre8-color-button-secondary-danger-inverse-content: #1f232a;
  --cre8-color-button-secondary-danger-content-hover: #ffffff;
  --cre8-color-button-secondary-danger-inverse-content-hover: #000000;
  --cre8-color-button-secondary-danger-content-active: #ffffff;
  --cre8-color-button-secondary-danger-inverse-content-active: #000000;
  --cre8-color-button-secondary-danger-content-disabled: #ffffff;
  --cre8-color-button-secondary-danger-inverse-content-disabled: #1f232a;
  --cre8-color-button-secondary-danger-border: #2f343d;
  --cre8-color-button-secondary-danger-inverse-border: #ffffff;
  --cre8-color-button-secondary-danger-border-hover: #2f343d;
  --cre8-color-button-secondary-danger-inverse-border-hover: #f8f8f9;
  --cre8-color-button-secondary-danger-border-active: #1f232a;
  --cre8-color-button-secondary-danger-inverse-border-active: #edeeef;
  --cre8-color-button-secondary-danger-border-disabled: #979aa0;
  --cre8-color-button-secondary-danger-inverse-border-disabled: #b9bcc0;
  --cre8-color-button-secondary-danger-outline: #000000;
  --cre8-color-button-secondary-danger-inverse-outline: #ffffff;
  --cre8-color-button-secondary-bg: #ffffff;
  --cre8-color-button-secondary-inverse-bg: #ffffff;
  --cre8-color-button-secondary-bg-hover: #ffffff;
  --cre8-color-button-secondary-inverse-bg-hover: #ffffff;
  --cre8-color-button-secondary-bg-active: #ffffff;
  --cre8-color-button-secondary-inverse-bg-active: #ffffff;
  --cre8-color-button-secondary-bg-disabled: #dcdddf;
  --cre8-color-button-secondary-inverse-bg-disabled: #dcdddf;
  --cre8-color-button-secondary-border: #14568d;
  --cre8-color-button-secondary-inverse-border: #14568d;
  --cre8-color-button-secondary-border-hover: #073b64;
  --cre8-color-button-secondary-inverse-border-hover: #073b64;
  --cre8-color-button-secondary-border-active: #073b64;
  --cre8-color-button-secondary-inverse-border-active: #073b64;
  --cre8-color-button-secondary-border-disabled: #dcdddf;
  --cre8-color-button-secondary-inverse-border-disabled: #dcdddf;
  --cre8-color-button-secondary-content: #14568d;
  --cre8-color-button-secondary-inverse-content: #14568d;
  --cre8-color-button-secondary-content-hover: #073b64;
  --cre8-color-button-secondary-inverse-content-hover: #073b64;
  --cre8-color-button-secondary-content-active: #073b64;
  --cre8-color-button-secondary-inverse-content-active: #073b64;
  --cre8-color-button-secondary-content-disabled: #979aa0;
  --cre8-color-button-secondary-inverse-content-disabled: #979aa0;
  --cre8-color-button-secondary-outline: #073b64;
  --cre8-color-button-secondary-inverse-outline: #073b64;
  --cre8-color-button-tertiary-neutral-bg: rgba(0, 0, 0, 0.0);
  --cre8-color-button-tertiary-neutral-inverse-bg: rgba(0, 0, 0, 0.0);
  --cre8-color-button-tertiary-neutral-content: #1f232a;
  --cre8-color-button-tertiary-neutral-inverse-content: #ffffff;
  --cre8-color-button-tertiary-neutral-border: rgba(0, 0, 0, 0.0);
  --cre8-color-button-tertiary-neutral-inverse-border: rgba(0, 0, 0, 0.0);
  --cre8-color-button-tertiary-neutral-bg-hover: rgba(0, 0, 0, 0.0);
  --cre8-color-button-tertiary-neutral-inverse-bg-hover: rgba(0, 0, 0, 0.0);
  --cre8-color-button-tertiary-neutral-content-hover: #1f232a;
  --cre8-color-button-tertiary-neutral-inverse-content-hover: #ffffff;
  --cre8-color-button-tertiary-neutral-border-hover: #1f232a;
  --cre8-color-button-tertiary-neutral-inverse-border-hover: #ffffff;
  --cre8-color-button-tertiary-neutral-border-active: #1f232a;
  --cre8-color-button-tertiary-neutral-inverse-border-active: #ffffff;
  --cre8-color-button-tertiary-neutral-bg-active: rgba(0, 0, 0, 0.0);
  --cre8-color-button-tertiary-neutral-inverse-bg-active: rgba(0, 0, 0, 0.0);
  --cre8-color-button-tertiary-neutral-content-active: #1f232a;
  --cre8-color-button-tertiary-neutral-inverse-content-active: #ffffff;
  --cre8-color-button-tertiary-neutral-bg-disabled: rgba(0, 0, 0, 0.0);
  --cre8-color-button-tertiary-neutral-inverse-bg-disabled: rgba(0, 0, 0, 0.0);
  --cre8-color-button-tertiary-neutral-border-disabled: rgba(0, 0, 0, 0.0);
  --cre8-color-button-tertiary-neutral-inverse-border-disabled: rgba(0, 0, 0, 0.0);
  --cre8-color-button-tertiary-neutral-content-disabled: #979aa0;
  --cre8-color-button-tertiary-neutral-inverse-content-disabled: #515761;
  --cre8-color-button-tertiary-neutral-outline: #1f232a;
  --cre8-color-button-tertiary-neutral-inverse-outline: #ffffff;
  --cre8-color-button-tertiary-danger-bg: rgba(0, 0, 0, 0.0);
  --cre8-color-button-tertiary-danger-inverse-bg: rgba(0, 0, 0, 0.0);
  --cre8-color-button-tertiary-danger-bg-hover: #2f343d;
  --cre8-color-button-tertiary-danger-inverse-bg-hover: #f8f8f9;
  --cre8-color-button-tertiary-danger-bg-active: #1f232a;
  --cre8-color-button-tertiary-danger-inverse-bg-active: #edeeef;
  --cre8-color-button-tertiary-danger-bg-disabled: #b9bcc0;
  --cre8-color-button-tertiary-danger-inverse-bg-disabled: #b9bcc0;
  --cre8-color-button-tertiary-danger-content: #ffffff;
  --cre8-color-button-tertiary-danger-inverse-content: #000000;
  --cre8-color-button-tertiary-danger-content-hover: #ffffff;
  --cre8-color-button-tertiary-danger-inverse-content-hover: #000000;
  --cre8-color-button-tertiary-danger-content-active: #ffffff;
  --cre8-color-button-tertiary-danger-inverse-content-active: #000000;
  --cre8-color-button-tertiary-danger-content-disabled: #ffffff;
  --cre8-color-button-tertiary-danger-inverse-content-disabled: #000000;
  --cre8-color-button-tertiary-danger-border: rgba(0, 0, 0, 0.0);
  --cre8-color-button-tertiary-danger-inverse-border: rgba(0, 0, 0, 0.0);
  --cre8-color-button-tertiary-danger-border-hover: #1f232a;
  --cre8-color-button-tertiary-danger-inverse-border-hover: #f8f8f9;
  --cre8-color-button-tertiary-danger-border-active: #1f232a;
  --cre8-color-button-tertiary-danger-inverse-border-active: #edeeef;
  --cre8-color-button-tertiary-danger-border-disabled: #b9bcc0;
  --cre8-color-button-tertiary-danger-inverse-border-disabled: #b9bcc0;
  --cre8-color-button-tertiary-danger-outline: #000000;
  --cre8-color-button-tertiary-danger-inverse-outline: #ffffff;
  --cre8-color-button-tertiary-bg: rgba(0, 0, 0, 0.0);
  --cre8-color-button-tertiary-inverse-bg: rgba(0, 0, 0, 0.0);
  --cre8-color-button-tertiary-bg-hover: rgba(0, 0, 0, 0.0);
  --cre8-color-button-tertiary-inverse-bg-hover: rgba(0, 0, 0, 0.0);
  --cre8-color-button-tertiary-bg-active: rgba(0, 0, 0, 0.0);
  --cre8-color-button-tertiary-inverse-bg-active: rgba(0, 0, 0, 0.0);
  --cre8-color-button-tertiary-bg-disabled: rgba(0, 0, 0, 0.0);
  --cre8-color-button-tertiary-inverse-bg-disabled: rgba(0, 0, 0, 0.0);
  --cre8-color-button-tertiary-border: rgba(0, 0, 0, 0.0);
  --cre8-color-button-tertiary-inverse-border: rgba(0, 0, 0, 0.0);
  --cre8-color-button-tertiary-border-hover: rgba(0, 0, 0, 0.0);
  --cre8-color-button-tertiary-inverse-border-hover: rgba(0, 0, 0, 0.0);
  --cre8-color-button-tertiary-border-active: rgba(0, 0, 0, 0.0);
  --cre8-color-button-tertiary-inverse-border-active: rgba(0, 0, 0, 0.0);
  --cre8-color-button-tertiary-border-disabled: rgba(0, 0, 0, 0.0);
  --cre8-color-button-tertiary-inverse-border-disabled: rgba(0, 0, 0, 0.0);
  --cre8-color-button-tertiary-content: #14568d;
  --cre8-color-button-tertiary-inverse-content: #14568d;
  --cre8-color-button-tertiary-content-hover: #073b64;
  --cre8-color-button-tertiary-inverse-content-hover: #073b64;
  --cre8-color-button-tertiary-content-active: #073b64;
  --cre8-color-button-tertiary-inverse-content-active: #073b64;
  --cre8-color-button-tertiary-content-disabled: #979aa0;
  --cre8-color-button-tertiary-inverse-content-disabled: #979aa0;
  --cre8-color-button-tertiary-outline: #073b64;
  --cre8-color-button-tertiary-inverse-outline: #073b64;
  --cre8-button-padding-vertical-small: 0.5rem;
  --cre8-button-padding-vertical-medium: 0.5rem;
  --cre8-button-padding-vertical-large: 0.5rem;
  --cre8-button-padding-vertical-icon-only: 0.5rem;
  --cre8-button-padding-vertical-small-icon-only: 0.5rem;
  --cre8-button-padding-vertical-medium-icon-only: 1rem;
  --cre8-button-padding-vertical-large-icon-only: 1rem;
  --cre8-button-padding-horizontal-small: 1rem;
  --cre8-button-padding-horizontal-medium: 1.5rem;
  --cre8-button-padding-horizontal-large: 1.5rem;
  --cre8-button-padding-horizontal-icon-only: 0.5rem;
  --cre8-button-padding-horizontal-small-icon-only: 0.5rem;
  --cre8-button-padding-horizontal-medium-icon-only: 1rem;
  --cre8-button-padding-horizontal-large-icon-only: 1rem;
  --cre8-paragraph-spacing-0: 0;
  --cre8-text-case-none: none;
  --cre8-text-case-uppercase: uppercase;
  --cre8-text-decoration-none: none;
  --cre8-text-decoration-underline: underline;
  --cre8-paragraph-indent-0: 0px;
  --cre8-border-radius-small: 4px;
  --cre8-border-radius-default: 4px;
  --cre8-border-radius-large: 24px;
  --cre8-border-radius-round: 900px;
  --cre8-border-radius-button: 4px;
  --cre8-border-radius-tabs: 4px;
  --cre8-border-radius-badge: 16px;
  --cre8-border-radius-container: 0px;
  --cre8-border-radius-field: 4px;
  --cre8-border-radius-field-brand: 4px;
  --cre8-border-radius-brand: 4px;
  --cre8-border-radius-none: 0px;
  --cre8-color-bg-default: #ffffff;
  --cre8-color-bg-default-hover: #def1f9;
  --cre8-color-bg-default-active: #bde2f3;
  --cre8-color-bg-subtle: #f8f8f9;
  --cre8-color-bg-moderate: #747981;
  --cre8-color-bg-inverse-moderate: #b9bcc0;
  --cre8-color-bg-strong: #515761;
  --cre8-color-bg-disabled: #dcdddf;
  --cre8-color-bg-brand: #eff8fc;
  --cre8-color-bg-brand-strong: #207BBF;
  --cre8-color-bg-brand-hover: #bde2f3;
  --cre8-color-bg-brand-active: #91cbe9;
  --cre8-color-bg-brand-strong-hover: #073b64;
  --cre8-color-bg-brand-strong-active: #073b64;
  --cre8-color-bg-success: #f1f6ed;
  --cre8-color-bg-error: #fdf0f0;
  --cre8-color-bg-warning: #fffaef;
  --cre8-color-bg-info: #edf8fd;
  --cre8-color-bg-attention: #fff6ff;
  --cre8-color-bg-success-strong: #3c8700;
  --cre8-color-bg-error-strong: #df2d2a;
  --cre8-color-bg-warning-strong: #fdb81e;
  --cre8-color-bg-info-strong: #073b64;
  --cre8-color-bg-attention-strong: #982393;
  --cre8-color-bg-opacity-transparent: rgba(0, 0, 0, 0.0);
  --cre8-color-bg-opacity-default: rgba(0, 0, 0, 0.65);
  --cre8-color-bg-brand-xstrong: #14568d;
  --cre8-color-bg-brand-xstrong-hover: #073b64;
  --cre8-color-bg-brand-xstrong-active: #073b64;
  --cre8-color-bg-active: #073b64;
  --cre8-color-bg-inverse-active: #ffffff;
  --cre8-color-border-default: #b9bcc0;
  --cre8-color-border-strong: #515761;
  --cre8-color-border-knockout: #ffffff;
  --cre8-color-border-disabled: #b9bcc0;
  --cre8-color-border-brand: #009bdf;
  --cre8-color-border-brand-subtle: #99d7f2;
  --cre8-color-border-brand-strong: #14568d;
  --cre8-color-border-success: #256700;
  --cre8-color-border-error: #df2d2a;
  --cre8-color-border-warning: #515761;
  --cre8-color-border-info: #14568d;
  --cre8-color-border-attention: #982393;
  --cre8-color-border-transparent: #50505000;
  --cre8-color-border-active-outline: #14568d;
  --cre8-shadow-large: 0 10px 12px 0 rgba(0,0,0,0.2);
  --cre8-shadow-default: 0 8px 6px 0 rgba(0,0,0,0.1);
  --cre8-shadow-small: 0 1px 2px 1px rgba(0,0,0,0.2);
  --cre8-shadow-none: none;
  --cre8-shadow-button: none;
  --cre8-desktop-menu-padding-vertical-padding: 1rem;
  --cre8-desktop-menu-padding-horizontal-padding: 0.5rem;
  --cre8-spacing-0: 0rem;
  --cre8-spacing-2: 0.125rem;
  --cre8-spacing-4: 0.25rem;
  --cre8-spacing-6: 0.375rem;
  --cre8-spacing-8: 0.5rem;
  --cre8-spacing-12: 0.75rem;
  --cre8-spacing-14: 0.875rem;
  --cre8-spacing-16: 1rem;
  --cre8-spacing-24: 1.5rem;
  --cre8-spacing-32: 2rem;
  --cre8-spacing-40: 2.5rem;
  --cre8-spacing-48: 3rem;
  --cre8-spacing-64: 4rem;
  --cre8-spacing-80: 5rem;
  --cre8-spacing-96: 6rem;
  --cre8-spacing-120: 7.5rem;
  --cre8-spacing-160: 10rem;
  --cre8-color-header-bg-default: #ffffff;
  --cre8-color-header-inverse-bg-default: #14568d;
  --cre8-color-header-bg-secondary: #207BBF;
  --cre8-color-header-inverse-bg-secondary: #207BBF;
  --cre8-color-header-bg-tertiary: #14568d;
  --cre8-color-header-inverse-bg-tertiary: #ffffff;
  --cre8-color-header-menu-bg-default: #207BBF;
  --cre8-color-header-menu-inverse-bg-default: #207BBF;
  --cre8-color-header-menu-bg-selected: #207BBF;
  --cre8-color-header-menu-inverse-bg-selected: #207BBF;
  --cre8-color-header-menu-bg-hover: #ffffff;
  --cre8-color-header-menu-inverse-bg-hover: #ffffff;
  --cre8-color-header-menu-bg-pressed: #207BBF;
  --cre8-color-header-menu-inverse-bg-pressed: #207BBF;
  --cre8-color-header-menu-bg-active: #207BBF;
  --cre8-color-header-menu-inverse-bg-active: #207BBF;
  --cre8-color-header-menu-bg-focus: #ffffff;
  --cre8-color-header-menu-inverse-bg-focus: #ffffff;
  --cre8-color-header-menu-content-default: #ffffff;
  --cre8-color-header-menu-inverse-content-default: #ffffff;
  --cre8-color-header-menu-content-hover: #207BBF;
  --cre8-color-header-menu-inverse-content-hover: #207BBF;
  --cre8-color-header-menu-content-pressed: #ffffff;
  --cre8-color-header-menu-inverse-content-pressed: #ffffff;
  --cre8-color-header-menu-content-active: #ffffff;
  --cre8-color-header-menu-inverse-content-active: #ffffff;
  --cre8-color-header-menu-content-selected: #ffffff;
  --cre8-color-header-menu-inverse-content-selected: #ffffff;
  --cre8-color-header-menu-content-focus: #207BBF;
  --cre8-color-header-menu-inverse-content-focus: #207BBF;
  --cre8-color-header-menu-border-default: rgba(0, 0, 0, 0.0);
  --cre8-color-header-menu-inverse-border-default: rgba(0, 0, 0, 0.0);
  --cre8-color-header-menu-border-pressed: #207BBF;
  --cre8-color-header-menu-inverse-border-pressed: #207BBF;
  --cre8-color-header-menu-border-active: #207BBF;
  --cre8-color-header-menu-inverse-border-active: #207BBF;
  --cre8-color-header-menu-border-selected: #207BBF;
  --cre8-color-header-menu-inverse-border-selected: #207BBF;
  --cre8-color-header-menu-border-focus: #ffffff;
  --cre8-color-header-menu-inverse-border-focus: #ffffff;
  --cre8-color-header-menu-border-hover: #ffffff;
  --cre8-color-header-menu-inverse-border-hover: #ffffff;
  --cre8-color-header-submenu-bg-default: #ffffff;
  --cre8-color-header-submenu-inverse-bg-default: #ffffff;
  --cre8-color-header-submenu-bg-hover: #14568d;
  --cre8-color-header-submenu-inverse-bg-hover: #14568d;
  --cre8-color-header-submenu-bg-pressed: #ffffff;
  --cre8-color-header-submenu-inverse-bg-pressed: #ffffff;
  --cre8-color-header-submenu-bg-active: #ffffff;
  --cre8-color-header-submenu-inverse-bg-active: #ffffff;
  --cre8-color-header-submenu-bg-focus: #14568d;
  --cre8-color-header-submenu-inverse-bg-focus: #14568d;
  --cre8-color-header-submenu-bg-selected: #ffffff;
  --cre8-color-header-submenu-inverse-bg-selected: #ffffff;
  --cre8-color-header-submenu-content-default: #14568d;
  --cre8-color-header-submenu-inverse-content-default: #14568d;
  --cre8-color-header-submenu-content-hover: #ffffff;
  --cre8-color-header-submenu-inverse-content-hover: #ffffff;
  --cre8-color-header-submenu-content-pressed: #14568d;
  --cre8-color-header-submenu-inverse-content-pressed: #14568d;
  --cre8-color-header-submenu-content-active: #14568d;
  --cre8-color-header-submenu-inverse-content-active: #14568d;
  --cre8-color-header-submenu-content-focus: #ffffff;
  --cre8-color-header-submenu-inverse-content-focus: #ffffff;
  --cre8-color-header-submenu-content-selected: #14568d;
  --cre8-color-header-submenu-inverse-content-selected: #14568d;
  --cre8-color-header-submenu-border-default: #ffffff;
  --cre8-color-header-submenu-inverse-border-default: #ffffff;
  --cre8-color-header-submenu-border-hover: #14568d;
  --cre8-color-header-submenu-inverse-border-hover: #14568d;
  --cre8-color-header-submenu-border-focus: #14568d;
  --cre8-color-header-submenu-inverse-border-focus: #14568d;
  --cre8-color-header-submenu-border-active: #ffffff;
  --cre8-color-header-submenu-inverse-border-active: #ffffff;
  --cre8-color-header-submenu-border-pressed: #ffffff;
  --cre8-color-header-submenu-inverse-border-pressed: #ffffff;
  --cre8-color-header-submenu-border-selected: #ffffff;
  --cre8-color-header-submenu-inverse-border-selected: #ffffff;
  --cre8-color-footer-bg-default: #14568d;
  --cre8-color-footer-bg-secondary: #14568d;
  --cre8-color-footer-content-default: #ffffff;
  --cre8-color-footer-content-secondary: #ffffff;
  --cre8-color-footer-link-default: #addbf0;
  --cre8-color-footer-link-hover: #ffffff;
  --cre8-line-heights-0: 1.1500000000000001;
  --cre8-line-heights-1: 1.12;
  --cre8-line-heights-2: 1.1400000000000001;
  --cre8-line-heights-3: 1.25;
  --cre8-line-heights-4: 1.5;
  --cre8-line-heights-5: 1.3;
  --cre8-line-heights-6: 1.33;
  --cre8-line-heights-7: 1.4000000000000001;
  --cre8-line-heights-8: 1.24;
  --cre8-line-heights-9: 1.11;
  --cre8-line-heights-10: 1.1300000000000001;
  --cre8-line-heights-11: 1.16;
  --cre8-line-heights-12: 1.2;
  --cre8-line-heights-13: 1.43;
  --cre8-line-heights-14: 0.48;
  --cre8-line-heights-15: 0.72;
  --cre8-font-weights-rubik-0: 400;
  --cre8-font-weights-rubik-1: 300;
  --cre8-font-weights-rubik-2: 500;
  --cre8-font-weights-rubik-3: SemiBold;
  --cre8-font-weights-rubik-4: Bold;
  --cre8-font-weights-rubik-5: Black;
  --cre8-font-weights-rubik-6: ExtraBold;
  --cre8-font-size-0: 0.75rem;
  --cre8-font-size-1: 0.875rem;
  --cre8-font-size-2: 1rem;
  --cre8-font-size-3: 1.125rem;
  --cre8-font-size-4: 1.25rem;
  --cre8-font-size-5: 1.5rem;
  --cre8-font-size-6: 1.75rem;
  --cre8-font-size-7: 2rem;
  --cre8-font-size-8: 2.5rem;
  --cre8-font-size-9: 3rem;
  --cre8-font-size-10: 3.5rem;
  --cre8-font-size-11: 4rem;
  --cre8-font-size-12: 4.5rem;
  --cre8-font-size-13: 5rem;
  --cre8-letter-spacing-0: 0;
  --cre8-letter-spacing-1: -0.5;
  --cre8-letter-spacing-2: 0%;
  --cre8-letter-spacing-3: 1;
  --cre8-letter-spacing-4: -1.5;
  --cre8-letter-spacing-5: -1;
  --cre8-border-width-button-tertiary-outline-focus: 0.0625rem;
  --cre8-border-width-button-default: 0.0625rem;
  --cre8-border-width-tab-selected: 0.125rem;
  --cre8-border-width-tab-default: 0.125rem;
  --cre8-border-width-none: 0rem;
  --cre8-border-width-default: 0.0625rem;
  --cre8-border-width-focus: 0.125rem;
  --cre8-border-width-large: 0.25rem;
  --cre8-border-style-button-tertiary-outline-focus: dashed;
  --cre8-border-style-default: solid;
  --cre8-icon-size-small: 0.875rem;
  --cre8-icon-size-default: 1rem;
  --cre8-icon-size-large: 1rem;
  --cre8-badge-padding-horizontal: 1rem;
  --cre8-badge-padding-vertical: 0.25rem;
  --cre8-progress-meter-height: 0.5rem;
  --cre8-breakpoint-xsm: 375px;
  --cre8-breakpoint-sm: 560px;
  --cre8-breakpoint-md: 768px;
  --cre8-breakpoint-lg: 960px;
  --cre8-breakpoint-xl: 1200px;
  --cre8-breakpoint-xxl: 1400px;
}
