
// SCSS tokens for femmecubator: spacing

$cre8-spacing-4xl: $$cre8-base-spacing-64;
$cre8-spacing-3xl: $$cre8-base-spacing-56;
$cre8-spacing-2xl: $$cre8-base-spacing-48;
$cre8-spacing-xl: $$cre8-base-spacing-32;
$cre8-spacing-l: $$cre8-base-spacing-24;
$cre8-spacing-m: $$cre8-base-spacing-20;
$cre8-spacing-s: $$cre8-base-spacing-16;
$cre8-spacing-xs: $$cre8-base-spacing-12;
$cre8-spacing-2xs: $$cre8-base-spacing-8;
$cre8-spacing-3xs: $$cre8-base-spacing-4;
