@import 'design-tokens/core/scss/theming/component';

.icon-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem;
  justify-content: space-evenly;
}

.icon-grid__item {
  text-align: center;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid rgb(204, 204, 204);
  padding: 8px;
  height: 5.5rem;
  min-width: 100px;
}

cre8-icon-legacy {
  display: inline-block;
  margin: 0 auto 1rem auto;
}

.icon-grid__text {
  display: block;
  font-size: 0.75rem;
  @include cre8-typography-body-small();
}
