@font-face {
	font-family: 'Aeonik';
	font-style: normal;
	font-weight: 300;
	src: url('./fonts/Aeonik-Light.woff2') format('woff2'),
			 url('./fonts/Aeonik-Light.woff') format('woff');
	font-display: fallback;
}

@font-face {
	font-family: 'Aeonik';
	font-style: normal;
	font-weight: 400;
	src: url('./fonts/Aeonik-Regular.woff2') format('woff2'),
			 url('./fonts/Aeonik-Regular.woff') format('woff');
	font-display: fallback;
}

@font-face {
	font-family: 'Aeonik';
	font-style: normal;
	font-weight: 700;
	src: url('./fonts/Aeonik-Bold.woff2') format('woff2'),
			 url('./fonts/Aeonik-Bold.woff') format('woff');
	font-display: fallback;
}
