@use 'design-tokens/core/scss/theming/component' as *;

/**
 * 1)
 */

div.c-medication-card__header {
  display: flex;
  align-items: center;
  padding: calc(8px * 2);
}

.c-medication-card__icon {
  --cre8-icon-height: #{calc(8px * 3)};
  --cre8-icon-width: #{calc(8px * 3)};
  --cre8-icon-fill: var(--cre8-color-content-subtle);
  margin-right: calc(8px * 2);
}

.c-medication-card__heading-after {
  @include cre8-typography-body-default;
  margin-left: auto;

  ::slotted(div) {
    display: flex;
    gap: calc(8px * 1);
    align-items: center;
  }
}

.c-medication-card__footer {
  @include cre8-typography-body-default;
  padding: calc(8px * 1) calc(8px * 2);
  border-top: var(--cre8-theme-border-width) var(--cre8-border-style-default) var(--cre8-color-border-default);
}
