@import '/design-tokens/core/scss/theming/component';

/*------------------------------------*\
 #RADIO-FIELD
\*------------------------------------*/

:host {
  display: flex;
}

/** 
 * 1) Fieldset used for radio items
 */
.cre8-c-radio-field {
  border: none;
  padding: 0;
  margin: 0;
}

/** 
 * Radio field legend
 */
.cre8-c-radio-field__legend {
  @include cre8-typography-label-small;
  margin-bottom: size(1);
}

/** 
 * Radio field list
 * 1) Remove default margin and padding form radio field list
 */
.cre8-c-radio-field__list {
  display: flex;
  flex-direction: column;
  margin: 0; /* 1 */
  padding: 0; /* 1 */
}