@import '/design-tokens/core/scss/theming/component';

// #HERO

/**
 * 1) Block with an image and overlay on medium and large screens
 */
.cre8-c-hero {
  position: relative;
  margin-bottom: size(4);

  @media all and (min-width: component.$cre8-breakpoint-md) {
    height: 40vh;
  }
}

/**
 * Hero image
 */
.cre8-c-hero__image {
  width: 100%;
  height: 100%;

  @media all and (min-width: component.$cre8-breakpoint-md) {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}

/**
 * Hero body
 * 1) Content is placed in the bottom left part of the image on medium/large screens by default
 */
.cre8-c-hero__body {
  display: flex;
  flex-direction: column;
  padding-top: size(2);

  @media all and (min-width: component.$cre8-breakpoint-md) {
    position: absolute;
    align-items: flex-start;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    padding-top: size(4);
    padding-bottom: size(4);
  }

  /**
   * Hero body within align top left variant
   * 1) Place body content in the top left part of the image on medium/large screens
   */
  .cre8-c-hero--top-left & {
    @media all and (min-width: component.$cre8-breakpoint-md) {
      justify-content: flex-start;
      align-items: flex-start;
    }
  }

  /**
   * Hero body within align left variant
   * 1) Place body content along left part of the image and vertically centered on medium/large screens
   */
  .cre8-c-hero--left & {
    @media all and (min-width: component.$cre8-breakpoint-md) {
      justify-content: center;
    }
  }

  /**
   * Hero body within align top center variant
   * 1) Place body content in the top center part of the image on medium/large screens
   */
  .cre8-c-hero--top-center & {
    @media all and (min-width: component.$cre8-breakpoint-md) {
      justify-content: flex-start;
      align-items: center;
    }
  }

  /**
   * Hero body within align center variant
   * 1) Place body content horizontally and vertically centered overlaying the image on medium/large screens
   */
  .cre8-c-hero--center & {
    @media all and (min-width: component.$cre8-breakpoint-md) {
      justify-content: center;
      align-items: center;
    }
  }

  /**
   * Hero body within align bottom center variant
   * 1) Place body content in the bottom center part of the image on medium/large screens
   */
  .cre8-c-hero--bottom-center & {
    @media all and (min-width: component.$cre8-breakpoint-md) {
      justify-content: flex-end;
      align-items: center;
    }
  }
  .cre8-c-hero--top-right & {
    @media all and (min-width: component.$cre8-breakpoint-md) {
      justify-content: flex-start;
      align-items: flex-end;
    }
  }

  /**
   * Hero body within align right variant
   * 1) Place body content along right part of the image and vertically centered on medium/large screens
   */
  .cre8-c-hero--right & {
    @media all and (min-width: component.$cre8-breakpoint-md) {
      justify-content: center;
      align-items: flex-end;
    }
  }

  /**
   * Hero body within align bottom right variant
   * 1) Place body content in the bottom right part of the image on medium/large screens
   */
  .cre8-c-hero--bottom-right & {
    @media all and (min-width: component.$cre8-breakpoint-md) {
      justify-content: flex-end;
      align-items: flex-end;
    }
  }
}
