@import 'design-tokens/core/scss/theming/component';
@import 'design-tokens/core/scss/utilities/visibility';

/*------------------------------------*\
 #CHECKBOX-FIELD-ITEM
\*------------------------------------*/

:host {
  display: inline-flex;
  flex-wrap: wrap;
}

/** 
 * 1) Form field that is composed of a checkbox input, label, and an optional field note.
 */
.cre8-c-checkbox-field-item {
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: size(1);
  min-height: size(3);

  /** 
  * Checkbox field item within last cre8-checkbox-field-item wrapper in a fieldset
  * 1) Remove margin bottom on last item
  */
  :host(:last-child) & {
    margin-bottom: 0; /* 1 */
  }
}

/** 
 * Checkbox field item input 
 */
.cre8-c-checkbox-field-item__input {
  opacity: 0;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  height: size(3);
  min-width: size(3);
  margin: 0;
  z-index: 1;

  /** 
 * Checkbox field item input error
 */
  .cre8-c-checkbox-field-item--disabled & {
    cursor: not-allowed;
  }
}

/** 
 * Checkbox field item custom checkbox container
 */
.cre8-c-checkbox-field-item__custom-checkbox {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  height: size(3);
  width: size(3);
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: var(--cre8-border-radius-small);
  border-width: var(--cre8-border-width-default);
  border-style: var(--cre8-border-style-default);
  background-color: var(--cre8-color-bg-default);
  border-color: var(--cre8-color-border-strong);

  /** 
  * Checkbox field item custom checkbox focus visible  custom outline
  */
  .cre8-c-checkbox-field-item__input:focus-visible + & {
    @include focus;

    .cre8-c-checkbox-field-item--error & {
      @include focusError;
    }
  }

  /** 
  * Checkbox field item custom checkbox within checkbox field with error
  */
  .cre8-c-checkbox-field-item--error & {
    background-color: var(--cre8-color-bg-default);
    border-color: var(--cre8-color-border-error);
  }

  /** 
  * Checkbox field item custom checkbox within checkbox field with disabled
  */
  .cre8-c-checkbox-field-item--disabled & {
    cursor: not-allowed;
    background-color: var(--cre8-color-bg-disabled);
    border-color: var(--cre8-color-border-disabled);
  }
}

/**
  * Checkbox field item custom checkbox when item is checked
  */
.cre8-c-checkbox-field-item__input:checked + .cre8-c-checkbox-field-item__custom-checkbox {
  background-color: var(--cre8-color-bg-brand-strong);

  /** 
  * Checkbox field item custom checkbox when item is checked with error
  */
  .cre8-c-checkbox-field-item--error & {
    background-color: var(--cre8-color-bg-default);
  }

  /** 
  * Checkbox field item custom checkbox when item is checked with disabled
  */
  .cre8-c-checkbox-field-item--disabled & {
    background-color: var(--cre8-color-bg-disabled);
  }
}

/** 
 * Checkbox field item checkmark icon
 */
.cre8-c-checkbox-field-item__icon {
  display: none;
  color: var(--cre8-color-content-knockout);

  /** 
  * Checkbox field item icon within checkbox field with error
  */
  .cre8-c-checkbox-field-item--error & {
    color: var(--cre8-color-content-error);
  }

  /** 
  * Checkbox field item icon within checkbox field disabled
  */
  .cre8-c-checkbox-field-item--disabled & {
    color: var(--cre8-color-content-disabled);
  }

  /**
  * Checkbox field item icon will display in the box if the input is checked
  */
  .cre8-c-checkbox-field-item__input:checked + .cre8-c-checkbox-field-item__custom-checkbox & {
    display: flex;
  }
}

/** 
 * Checkbox field item input 
 */
.cre8-c-checkbox-field-item__label {
  margin-left: size(4);
  @include cre8-typography-label-small;
}

/** 
 * Checkbox field item field notes
 */
.cre8-c-checkbox-field-item__field-note,
.cre8-c-checkbox-field-item__field-note-success,
.cre8-c-checkbox-field-item__field-note-error {
  flex-basis: 100%;
}