@import 'design-tokens/core/scss/theming/component';
@import '@cre8/cre8-icons/lib/wc/Icon/Icon.module.scss'; // allow cre8-icon's styles in cre8-icon-legacy's shadow dom

// #ICON

/**
 * 1) Graphic used to supplement text or represent functionality
 */

:host{
  display: flex;
  --cre8-u-icon-display: block;
};

.cre8-c-icon-wrapper {
  align-items: var(--cre8-u-icon-align-items);
  justify-content: var(--cre8-u-icon-justify-content);
  animation: var(--cre8-loading-animation, --cre8-icon-animation, none);
  margin: var(--cre8-icon-margin, 0);
}

.cre8-c-icon {
  height: var(--cre8-icon-height, size(2));
  width: var(--cre8-icon-width, size(2));
  fill: var(--cre8-icon-fill, currentColor);
}  