@import 'design-tokens/core/scss/theming/component';

/**
 * 1) List item that contains a link/button within the utility nav
 */
.cre8-c-utility-nav__item {
  margin: 0;
  padding: 0;
}

/**
* Utility nav link
*/
.cre8-c-utility-nav__link {
  display: flex;
  @include cre8-typography-label-default;
  border: none;
  background: none;
  appearance: none;
  padding: 0;
  text-align: left;
  color: var(--cre8-utility-nav-link-color, var(--cre8-color-content-brand));
  cursor: pointer;
  transition: color var(--cre8-anim-fade-quick) var(--cre8-anim-ease);

  &:hover,
  &:focus {
    color: var(--cre8-color-content-brand-hover);
  }
}

/**
* Utility nav icon
* 1) Pass properties down to icon component
*/
cre8-icon-legacy {
  --cre8-icon-height: 1.5rem; /* 1 */
  --cre8-icon-width: 1.5rem; /* 1 */
}

/**
* Utility nav icon directly after utility nav text
* 1) Create space between text and icon
*/
.cre8-c-utility-nav__text + cre8-icon-legacy {
  margin-left: size(1); /* 1 */
}

/**
* Utility nav text directly after utility nav icon
* 1) Create space between text and icon
*/
cre8-icon-legacy + .cre8-c-utility-nav__text {
  margin-left: size(1); /* 1 */
}
