@import '../../../../cre8-wc/design-tokens/core/scss/theming/component.scss';

// # PHARMACYHEADER

.c-pharmacy-header__nav-container {
  display: none;
  --cre8-nav-container-background: var(--cre8-color-bg-brand-strong);

  .c-pharmacy-header.cre8-is-active & {
    display: block;
  }

  @media all and (min-width: $cre8-bp-lg) {
    display: block;
  }
}

/**
* Site header menu button
* 1) Margin right added to center logo on small screens
*/
.c-pharmacy-header__menu-button {
  position: relative;
  top: 4px;
  margin-left: calc(8px * 2);

  @media all and (min-width: $cre8-bp-lg) {
    margin-left: 0;
    display: none;
  }
}

.c-pharmacy-header__utility-nav-search {
  display: block;
}

.c-pharmacy-header__megamenu-grid {
  display: block;
  margin-bottom: calc(8px * 6);
}

.c-pharmacy-header__heading {
  display: inline-block;
  margin-bottom: calc(8px * 1.5);
  color: var(--cre8-color-content-subtle);
}

.c-pharmacy-header__primary-nav {
  width: 100%;
}

.c-pharmacy-header__log-out {
  display: block;

  @media all and (min-width: $cre8-bp-lg) {
    margin-left: auto;
  }
}