@import '/design-tokens/core/scss/theming/component';
@import '/design-tokens/layouts/breakpoints.scss';

// #FOOTER

/**
 * 1) Container used to house various Components and content for the global footer
 */
.cre8-c-footer {
  @include cre8-typography-body-default();
  background: var(--cre8-color-bg-brand-xstrong);
  color: var(--cre8-color-content-knockout);
  padding-top: var(--cre8-spacing-40);
  padding-bottom: var(--cre8-spacing-48);

  @media all and (min-width: component.$cre8-breakpoint-lg) {
    padding-top: var(--cre8-spacing-48);
  }
}