/**
 * femmecubator: all tokens
 */

:root {
  --cre8-color-base-color-blue-15: #b3d4f7;
  --cre8-color-base-color-blue-25: #81b7f2;
  --cre8-color-base-color-blue-35: #4e9aec;
  --cre8-color-base-color-blue-50: #026fe4;
  --cre8-color-base-color-blue-60: #0259b6;
  --cre8-color-base-color-blue-70: #014ea0;
  --cre8-color-base-color-blue-80: #013872;
  --cre8-color-base-color-blue-90: #012144;
  --cre8-color-base-color-blue-05: #e6f1fc;
  --cre8-color-base-color-green-15: #d4efdf;
  --cre8-color-base-color-green-30: #7dcea0;
  --cre8-color-base-color-green-50: #00875a;
  --cre8-color-base-color-green-70: #1f8b4d;
  --cre8-color-base-color-green-90: #17683a;
  --cre8-color-base-color-red-15: #fbdddd;
  --cre8-color-base-color-red-30: #f5abab;
  --cre8-color-base-color-red-50: #eb5757;
  --cre8-color-base-color-red-70: #bc4646;
  --cre8-color-base-color-red-90: #8d3434;
  --cre8-color-base-color-yellow-20: #fae9b7;
  --cre8-color-base-color-yellow-30: #f7df94;
  --cre8-color-base-color-yellow-50: #f2c94c;
  --cre8-color-base-color-yellow-70: #dab544;
  --cre8-color-base-color-yellow-95: #30280f;
  --cre8-color-base-color-sky-15: #c0e1f4;
  --cre8-color-base-color-sky-30: #81c4e9;
  --cre8-color-base-color-sky-50: #2d9cdb;
  --cre8-color-base-color-sky-70: #247daf;
  --cre8-color-base-color-sky-90: #174e6e;
  --cre8-color-base-color-white: #ffffff;
  --cre8-color-base-color-gray-10: #fafafa;
  --cre8-color-base-color-gray-20: #efefef;
  --cre8-color-base-color-gray-30: #e0e0e0;
  --cre8-color-base-color-gray-40: #cfcfcf;
  --cre8-color-base-color-gray-50: #bdbdbd;
  --cre8-color-base-color-gray-60: #9c9c9c;
  --cre8-color-base-color-gray-70: #828282;
  --cre8-color-base-color-gray-80: #4f4f4f;
  --cre8-color-base-color-gray-90: #333333;
  --cre8-color-base-color-transparent: #ffffff00;
  --cre8-color-base-color-wesparkle-red: #e43c4a;
  --cre8-base-spacing-4: 4px;
  --cre8-base-spacing-8: 8px;
  --cre8-base-spacing-12: 12px;
  --cre8-base-spacing-16: 16px;
  --cre8-base-spacing-20: 20px;
  --cre8-base-spacing-24: 28px;
  --cre8-base-spacing-32: 36px;
  --cre8-base-spacing-48: 48px;
  --cre8-base-spacing-56: 56px;
  --cre8-base-spacing-64: 64px;
  --cre8-base-border-radius-0: 0rem;
  --cre8-base-border-radius-4: 4px;
  --cre8-base-border-radius-16: 16px;
  --cre8-base-border-radius-60: 60px;
  --cre8-base-border-radius-900: 900px;
  --cre8-base-border-width-0: 0px;
  --cre8-base-border-width-1: 1px;
  --cre8-base-border-width-2: 2rem;
  --cre8-base-border-width-4: 4px;
  --cre8-base-border-width-6: 6px;
  --cre8-color-bg-strong: #828282;
  --cre8-color-bg-subtle: #333333;
  --cre8-color-bg-default: #4f4f4f;
  --cre8-color-bg-disabled: #e0e0e0;
  --cre8-color-bg-brand-default: #026fe4;
  --cre8-color-bg-brand-subtle: #e6f1fc;
  --cre8-color-bg-brand-hover: #81b7f2;
  --cre8-color-bg-brand-strong: #012144;
  --cre8-color-bg-success-default: #d4efdf;
  --cre8-color-bg-success-strong: #00875a;
  --cre8-color-bg-error-default: #fbdddd;
  --cre8-color-bg-error-strong: #eb5757;
  --cre8-color-bg-warning-default: #fae9b7;
  --cre8-color-bg-warning-strong: #f2c94c;
  --cre8-color-bg-info-default: #c0e1f4;
  --cre8-color-bg-info-strong: #2d9cdb;
  --cre8-color-bg-transparent: #ffffff00;
  --cre8-color-bg-active: #333333;
  --cre8-color-bg-logo: #e43c4a;
  --cre8-color-content-default: #ffffff;
  --cre8-color-content-subtle: #4f4f4f;
  --cre8-color-content-disabled: #9c9c9c;
  --cre8-color-content-knockout: #ffffff;
  --cre8-color-content-brand-default: #026fe4;
  --cre8-color-content-brand-subtle: #e6f1fc;
  --cre8-color-content-brand-strong: #81b7f2;
  --cre8-color-content-success-default: #17683a;
  --cre8-color-content-success-icon: #00875a;
  --cre8-color-content-error-default: #8d3434;
  --cre8-color-content-error-icon: #eb5757;
  --cre8-color-content-warning-default: #30280f;
  --cre8-color-content-warning-icon: #f2c94c;
  --cre8-color-content-info-default: #174e6e;
  --cre8-color-content-info-icon: #2d9cdb;
  --cre8-color-content-link-default: #026fe4;
  --cre8-color-content-link-strong: #012144;
  --cre8-color-content-link-subtle: #4f4f4f;
  --cre8-color-content-link-hover: #014ea0;
  --cre8-color-border-default: #9c9c9c;
  --cre8-color-border-strong: #4f4f4f;
  --cre8-color-border-disabled: #9c9c9c;
  --cre8-color-border-knockout: #ffffff;
  --cre8-color-border-success: #00875a;
  --cre8-color-border-error: #eb5757;
  --cre8-color-border-warning: #f2c94c;
  --cre8-color-border-info: #2d9cdb;
  --cre8-color-border-transparent: #ffffff00;
  --cre8-color-border-active: #333333;
  --cre8-color-border-brand-default: #026fe4;
  --cre8-color-border-brand-hover: #81b7f2;
  --cre8-color-border-brand-strong: #014ea0;
  --cre8-color-border-brand-subtle: #e6f1fc;
  --cre8-color-border-divider: #4f4f4f;
  --cre8-border-radius-none: 0rem;
  --cre8-border-radius-small: 4px;
  --cre8-border-radius-default: 16px;
  --cre8-border-radius-large: 60px;
  --cre8-border-radius-container: 60px;
  --cre8-border-radius-round: 900px;
  --cre8-border-width-none: 0px;
  --cre8-border-width-thin: 1px;
  --cre8-border-width-default: 2rem;
  --cre8-border-width-medium: 4px;
  --cre8-border-width-thick: 6px;
  --cre8-border-width-focus: 2rem;
  --cre8-spacing-3xs: 4px;
  --cre8-spacing-2xs: 8px;
  --cre8-spacing-xs: 12px;
  --cre8-spacing-s: 16px;
  --cre8-spacing-m: 20px;
  --cre8-spacing-l: 28px;
  --cre8-spacing-xl: 36px;
  --cre8-spacing-2xl: 48px;
  --cre8-spacing-3xl: 56px;
  --cre8-spacing-4xl: 64px;
}
