@import 'design-tokens/core/scss/theming/component';
@import '@cre8_dev/cre8-design-tokens/lib/web/layouts/breakpoints.scss';

/*------------------------------------*\
 #MODAL
\*------------------------------------*/

:host {
  display: block;
}

/**
 * 1) Modal Composable Component
 */
.cre8-c-modal {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;

  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.25);

  z-index: 1000;
}

.cre8-c-modal.cre8-is-active {
  display: flex;
  visibility: visible;
  opacity: 1;
}

/**
 * Modal Focus Trap for Window (keeps focus in modal until closed)
 */
.cre8-c-modal__focus-trap {
  display: contents;
}

/**
 * Modal Window
 */
.cre8-c-modal__window {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  position: fixed;
  background: var(--cre8-color-bg-default);
  width: size(68);
  max-width: 100%;
  border-radius: var(--cre8-border-radius-container);
  overflow: hidden;
  overflow-y: auto;

  /**
   * Modal Window for mobile user screen widths
   */
  @media all and (max-width: $cre8-breakpoint-md) {
    position: inherit;
    height: 100%;
    width: 100%;
  }

  &:focus-visible {
    @include focus();
  }
}

/**
 * Modal Window Header
 */
.cre8-c-modal__header {
  display: flex;
  padding: size(4) size(6) size(2);
  align-items: center;
  /**
   * Modal Header with Error state
   * 1) Icon fill prop is a custom property of cre8-icon-legacy that apply the color as a fill to the whole icon
   */
  .cre8-c-modal--error & {
    .cre8-modal-icon {
      fill: var(--cre8-color-content-error-icon); /* 1 */
    }
  }

  /**
   * Modal Header with Warning state
   * 1) Icon fill prop is a custom property of cre8-icon-legacy that apply the color as a fill to the whole icon
   */
  .cre8-c-modal--warning & {
    .cre8-modal-icon {
      fill: var(--cre8-color-content-warning-icon); /* 1 */
    }
  }

  /**
   * Modal Header with Success state
   * 1) Icon fill prop is a custom property of cre8-icon-legacy that apply the color as a fill to the whole icon
   */
  .cre8-c-modal--success & {
    .cre8-modal-icon {
      fill: var(--cre8-color-content-success-icon); /* 1 */
    }
  }

  /**
   * Modal Header with Info or Help State
   * 1) Icon fill prop is a custom property of cre8-icon-legacy that apply the color as a fill to the whole icon
   */
  .cre8-c-modal--info &,
  .cre8-c-modal--help & {
    .cre8-modal-icon {
      fill: var(--cre8-color-content-info-icon); /* 1 */
    }
  }
}

/**
 * Modal Heading
 */
.cre8-c-modal__header-inner {
  display: flex;
  align-items: center;
  gap: size(2);

  cre8-icon {
    .cre8-modal-icon {
      height: size(4);
      width: size(4);
    }
  }
}

/**
 * Modal Window Body
 */
.cre8-c-modal__body {
  max-height: 240px; // Prevent modal from getting too big based on content
  overflow: auto; // Force scrolling based on long amounts of content
  padding: 0 size(6);

  /**
   * Modal Window Body for mobile user screen widths
   */
  @media all and (max-width: $cre8-breakpoint-md) {
    height: 100%;
    max-height: max-content;
  }
}

/**
 * Modal Window Footer
 */
.cre8-c-modal__footer {
 padding: size(3) size(6) calc(100vh - 95dvh); // Ensure footer slot isn't cut off on certain devices
}

/**
 * Modal Window Close button
 */
.cre8-c-modal__close-button {
  margin-left: auto;
}
